<section>
<h1>Clinic</h1>
<div id ="banner">
    <div class = "cover-photo"><img src="{{settings.clinic_img | img_url: ''}}"></div>
</div>
<div class = "content"><p>{{page.content}}</p> </div>
<div>
    <form name="contact" action="" method="post">
        <div class="box">
            <h2>be updated</h2>
            <p>subscribe to my channel to make sure you dont miss any info</p>
            <label class="form-label" for="email">
                Email:
            </label>
            <input class="form-field" name="email" id="email" />
            <input class="form-button" type="submit" value="Subscribe" />
        </div>
    </form>

</div>


</section>