 <div class="contact">
    <div class= "row2">
        <h4>To learn more about his work, you can:</h4>
        {% for block in section.blocks %}
            <li>
                {{block.settings.contact_text}}
            </li>
        {% endfor %}
    </div>

</div>

{% schema %}
    {
      
       "name": "Learn More",
     "blocks": [
    {
      "type":"text",
      "name": "Contact Methods",
      "settings": [
        {
          "type": "text",
          "id": "contact_text",
          "label":"Text"
        }
      ]
    }
  ]
  }
{% endschema %} 