header {
    margin-top: 0;
    width: 100%;
}
header img{
    padding: 1%;
    padding-bottom: 0;
    width: 12rem;
    float: left;
}
  
.nav-items {
    padding: 1%;
    display: flex;
    justify-content: right;
    width: 20%; 
    margin-left: 75%;
}

li {
    padding:0.5rem;
    padding-top: 0;
    margin-left:3%;
    list-style-type: none;
}

a {
    font-size: 20px;
    text-decoration: none;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

img{
    width:100%;
    height: 100%;
} 
  
h1{
    margin-top: 25%;
    padding-left: 5%;
    font-size: 5rem;
    color: white;
    width: 50%;
}

h2, h3, h5, h4, p{
    padding: 1rem;
}

.content{
    padding: 15%;
    font-size: 1.5rem;
}

.col1{
    background-image: url("Wave-buildtrust-desktop.png" );
    color: white;
    background-color: blue;
    height:25rem;  
}

.col1 h2{
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

.col1 img{
    padding:6%;
    width:10%;
    height:10%
}

.col2{
    display: flex;
}

.col2 h2{
    font-weight: 1px;
}

.col2 .row2{
    width: 50%;
}

.col2 .row1{
    background-image: url("Video-about-desktop2.png" );
    width: 37rem;
    height:25rem;
}

.col2 .row1 img{
    padding-top: 53%;
    padding-left: 85%;
    width: 7%;
    height: 10%;
}

.col2-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  background-color:whitesmoke;
}
   
.col2-2 img{
    width: 80%;
    height:85%;
}

.col2-2 .row2{
    padding: 4rem;
}

.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    background-color: Lightblue;
}

.list img{
    margin-top: 5%;
}

.list .row2{
    padding: 10%;
}

.col2-3 img{
    padding-top: 15%; 
}
.text-link {
    color: red;
    border-bottom: 1px solid #4184f2;
    padding-bottom: 2px;
}

.testimonial{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    padding: 3rem;
    background-image: url("Wave-buildtrust-desktop.png" );
    color: white;
    background-color: blue;
}

.testimonial img{
    float: left;
    padding-right: 2%;
    height: 50px;
    width:50px;
}

footer .icons{
    list-style: none;
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%; 
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr );
}

footer .links{
    text-decoration: none;
    padding: 5%;
    list-style: none;
    color: black;
    display: flex;
    padding-left: 10%;
}

.learn-more{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
}
form{
    padding: 1rem;
}

form .box{
    margin-top:2%;
    background-color:white;
}

input, label{
    width: 50%;
    margin: 2%;
}

.form-button{
    margin:7%;
    padding: 2%;
    width: 50%;
    color:white;
    background-color: blue;
}



/* Media Queries section*/

@media screen and (min-width: 1171px) {
    h1{
        font-size: 6.5rem;
        padding-top: 8%;
    }

    .content{
        margin-top: 15%;
    }

    .col2-2{
        grid-template-columns: repeat(2, 1fr );
    }
    .nav-items{
      margin-top: 2%;
  }
}

@media screen and (min-width: 769px) and (max-width: 170px) {
 
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 3.5rem;
    }

    .nav-items{
        margin-left: 60%;
    }

    .list{
        grid-template-columns: 1fr ;
    }

    .testimonial{
        grid-template-columns: 1fr ;
    }

    .col2{
        display: flex;
        flex-direction: column;
        padding: 1%;
    }

    .col2 .row2{
        width: 100%; 
    }

    .col2 .row1{
        width: 100%;
        height:100%;
    }
  
    .col2-2{
        grid-template-columns: 1fr ;
    }
  
    .col2-2 img{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    header img{
        width: 8rem; 
    }
    .nav-items{
        margin-left: 50%;
    }

    a {
        font-size: 16px;
    }

    .content{
        padding: 2rem;
    }

    h1{
        font-size: 2rem;
    }

    .col2{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .col2 .row2{
      width: 100%;
    }

    .col2 .row1{
        width: 21rem;
        height:15rem;
    }
    
    .col2-2{
        grid-template-columns: 1fr ;
    }

    .col2-2 img{
        width: 100%;
    }
    
    .testimonial{
        grid-template-columns: 1fr ;
    }

    .list{
        grid-template-columns: 1fr ;
    }

    .learn-more{
        grid-template-columns:  1fr ;
    }
}